<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dreamers Movement</title>
  <link rel="stylesheet" href="{% static "style.css" %}" />
  <link rel="stylesheet" href="{% static "style-c.css" %}" />
  <link rel="stylesheet" href="{% static "style-f.css" %}" />
  <link rel="stylesheet" href="{% static "style-p.css" %}" />
  <link rel="stylesheet" href="{% static "style-pr.css" %}" />
  <link rel="stylesheet" href="{% static "style-fo.css" %}" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>
  {% comment %} <div class="lds-ring" id="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> {% endcomment %}
  <main>
    <div class="big-wrapper light">
      <img src="{% static "shape.png" %}" alt="" class="shape" />

      <header>
        <div class="container">
          <div class="logo">
            <img src="{% static "mainlogo.png" %}" alt="Logo" />
            <h3>DREAMERS MOVEMENT</h3>
          </div>

          <div class="links">
            <ul>
              <li><a href="#footer">About</a></li>
              <li><a href="#">Exams</a></li>
              <li><a href="#projects-p">Projects</a></li>
              <li><a href="#contactus-c">Contact US</a></li>
              {% if request.user.is_authenticated %}
              <li><a href="logout" class="btn">logout</a></li>
              {% else %}
              <li><a href="login" class="btn">login</a></li>
              {% endif %}
            </ul>
          </div>

          <div class="overlay"></div>

          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </header>

      <div class="showcase-area">
        <div class="container">
          <div class="left">
            <div class="big-title">
              <h1>Your Dream Mentors</h1>
              <h1>are now at your call</h1>
            </div>
            <p class="text">
              Elevate your potential with Dreamers Movemet, where mentorship thrives. Connect with experienced mentors
              or share your expertise to unlock a world of growth
            </p>
            <div class="cta">
              <a href="/donate" class="btn"><i class="fas fa-heart"></i> Donate</a> 
              {% if request.user.is_authenticated %}
              {% else %}
              <p class="text"> Login first to donate..</p>
              {% endif %}
            </div>
          </div>

          <div class="right">
            <img src=".{% static "person.png" %}" alt="Person Image" class="person" />
          </div>
        </div>
      </div>

      <div class="bottom-area">
        <div class="container">
          <button class="toggle-btn">
            <i class="far fa-moon"></i>
            <i class="far fa-sun"></i>
          </button>
        </div>
      </div>
    </div>
  </main>

  {% comment %} -----our Team------------ {% endcomment %}
  <div class="all-container">
    <div class="all-header">
      Founders
    </div>
    <p>Encounter the leaders behind [Your Mentorship Platform], whose steadfast dedication, strategic insight, and enthusiasm have cultivated a heritage of guidance and inspiration within the realm of mentorship.</p>
  </div>

  <div class="founders-section">
    <div class="profile" data-aos="zoom-in">
      <img src="{% static "muzammil.jpg" %}" alt="">
      <div class="profile-info">
        <p class="info-header">
          Muzammil Hussain <br><strong
            style="color: black; font-weight: 600; border-bottom: 2px solid black;">Program Director</strong>
        </p>
        <p id="info-para" style="margin-top: -25px; font-size: 80%;">B-Tech Civil Enginnering(Vit University) Masters Technical University of Munich</p>
      </div>
    </div>
    <div class="profile" data-aos="zoom-in">
      <img src="{% static "tasaduq.jpg" %}" alt="">
      <div class="profile-info">
        <p class="info-header">
          Tasdeeq sofi<br><strong
            style="color: black; font-weight: 600; border-bottom: 2px solid black;">Executive Director</strong>
        </p>
        <p id="info-para" style="margin-top: -25px; font-size: 80%;">Marie Curie Fellow|FIDMAC AIRBUS GROUP | GERMAN AEROSPACE CENTER</p>
      </div>
    </div>
  </div>


  {% comment %} -------contact us-----------------{% endcomment %}


  <div class="all-container" id="contactus-c">
    <div class="all-header">
      Contact Us
    </div>
    <p>Reach out and let's start a conversation! Whether you have questions, ideas, or just want to say hello, our team is here and eager to hear from you.</p>

  </div>

  <div class="container-c" id="container-c" data-aos="zoom-in">
    <span class="big-circle"></span>
    <img src="{% static "shape.png" %}" class="square" alt="" />
    <div class="form">
      <div class="contact-info">
        <h3 class="title">Let's get in touch</h3>
        <p class="text-c">
          Contact our team to explore opportunities, collaborations, or simply to share your thoughts. We value your input and look forward to connecting with you.
        </p>

        <div class="info">
          <div class="information">
            <img src="{% static "location.png" %}" class="icon" alt="" />
            <p>92 Cherry Drive Uniondale, NY 11553</p>
          </div>
          <div class="information">
            <img src="{% static "email.png" %}" class="icon" alt="" />
            <p>lorem@ipsum.com</p>
          </div>
          <div class="information">
            <img src="{% static "phone.png" %}" class="icon" alt="" />
            <p>123-456-789</p>
          </div>
        </div>

        <div class="social-media">
          <p>Connect with us :</p>
          <div class="social-icons">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>

        <form action="/" autocomplete="off" method="POST">
          {% csrf_token %}
          <h3 class="title">Contact us</h3>
          <div class="input-container">
            <input type="text" name="name-c" class="input" required />
            <label for="">Name</label>
            <span>Name</span>
          </div>
          <div class="input-container">
            <input type="email" name="email-c" class="input" required />
            <label for="">Email</label>
            <span>Email</span>
          </div>
          <div class="input-container">
            <input type="tel" name="phone-c" class="input" required />
            <label for="">Phone</label>
            <span>Phone</span>
          </div>
          <div class="input-container textarea">
            <textarea name="message-c" class="input" required></textarea>
            <label for="">Message</label>
            <span>Message</span>
          </div>
          <input type="submit" value="Submit" class="btn-c" />
        </form>
      </div>
    </div>
  </div>

  {% comment %} -----our projects----- {% endcomment %}
  <div class="all-container" id="projects-p">
    <div class="all-header">
      Our Projects
    </div>
    <p>Elevate your aspirations by contributing to projects that not only challenge you but also empower you to make a meaningful impact. Join us in crafting a future where your talents thrive and dreams take flight.</p>

  </div>

  <div class="container-p" id="container-p" data-aos="zoom-in">
    <div class="our-projects">
      <h1 id="h1-o">ON GOING PROJECTS</h1>
      <h3>Project DroneX: Build Your Drone from Scratch to the Skies</h3>
      <p>Are you a student eager to explore the world of drones and seeking hands-on experience with Arduino, Raspberry
        Pi, and programming? DroneX Workshop is your gateway to the exciting world of technology!<br>
        <br>

        Workshop Details:<br>
        <br>


        🔌 You are studying in class 8th-10th<br>
        🛠 Build your very own drone from scratch<br>
        🌐 Learn how to use Arduino and Raspberry Pi<br>
        💻 Learn how to control the drone using Python programming language<br>
        🤝 Team up and track your progress<br>
        <br>
        What We Provide:<br>


        💡 We will provide you with every resource you need.<br>
        🚌 Travelling Allowance<br>
        🏆 Certificate of Completion and Exciting Prizes at the end<br>
        <br>
        Note: A maximum of five students will be selected.<br>
        <br>

        Additional Information:<br>
        <br>

        📅 Date: from 05 November 2023, Every Sunday<br>
        🕒 Time: Details will be communicated to selected students.<br>
        🏫 Location: Nowlari<br>
        ✉️ Contact: contact@dreamersinstitute.com<br>
        📞 Contact(WhatsApp): +91 7889704442<br>


        Please submit your application using the form provided.
      </p>
      <img src="{% static "drone.jpg" %}" alt="" id="imgdrone">
    </div>
    <div class="join-project">
      <h1>WELCOME TO DREAM-U PROJECTS</h1>
      <p>You are in the right place, if you are a student who enjoys creativity and challenges. Enroll in our
        ongoing projects to begin an exciting journey of experiential and hands-on learning. We are more than
        just your typical classroom but a platform for your aspirations. Enroll in our DreamU program to immerse
        yourself in a world of exciting projects that will ignite your imagination and inspire humanity.
      </p>
      <form action="" class="form-p" method="POST">
        {% csrf_token %}
        <h2>Want To Join !</h2>
        <input type="text" name="name" id="name-f" placeholder="Name" required>
        <input type="text" name="class" id="class-f" placeholder="Class" required>
        <input type="number" name="number" id="number-f" placeholder="Number" required>
        <input type="email" name="email" id="email-f" placeholder="Email" required>
        <input type="submit" value="Submit" id="submit">

      </form>
    </div>
  </div>



  {% comment %} -----footer---- {% endcomment %}

  <footer class="footer-distributed" id="footer" data-aos="zoom-in">

    <div class="footer-left">
      <h3>Dreamers<span>Movement</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        |
        <a href="#footer">About</a>
        |
        <a href="#container-c">Contact</a>
        |
        <a href="/donate">Donate</a>
      </p>

      <p class="footer-company-name">Copyright © 2024 <strong>Dreamers Movement</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Magam</span>
          J&k</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>123-456-789</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#">xyz@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
        <span>About the company</span>
        <strong>Empowering Futures with Dreamers Movement:</strong> Learn about the ethos driving Dreamers Movement, dedicated to fostering personal and professional development, and creating a ripple effect of positive change in individuals' lives.
        and
        Effects along with
        HTML, JavaScript and Projects using C/C++.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </footer>
  <!-- JavaScript Files -->



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <script src="{% static "app.js" %}"></script>
  <script src="{% static "app-c.js" %}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // This function will be executed when the DOM is fully loaded

      // Simulate the loading process (you can replace this with your actual loading logic)
      setTimeout(function () {
        document.getElementById("lds-ring").style.display = "none";
        // document.getElementsByClassName("lds-ring div").style.display = "none";
        // Display or initialize your ChatGPT content here
      }, 5000); // Adjust the timeout duration as needed
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 80,
      duration: 500,
    });
  </script>
</body>

</html>